#test {
float: right;
position: center;

}

.tableO{
font-size: 1rem;
}



#exampleModal{
font-size: 50px;
}

#padingButton{
    padding-right: 2px;
    padding-left: 2px;
}

#collapseExample{
    margin-bottom: 10px;
}

#block {
    margin-top: 10px;
    display: block;
    width: 100%;

    cursor: pointer;
    text-align: center;
}