<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>

    <nav class="navbar navbar-dark  bg-primary navbar-expand-lg">

        <a class="navbar-brand" href="/"><img src="images/logo.png" width="30" height="30"
                                              class="d-inline-block mr-1 align-bottom" alt=""> EnWord 2.0</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/"> Start </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/random"> Nauka słówek </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-expanded="false" id="submenu" aria-haspopup="true"> Słówka </a>

                    <div class="dropdown-menu" aria-labelledby="submenu">

                        <a class="dropdown-item" href="/words"> Lista Słowek do nauki </a>
                        <a class="dropdown-item" href="/word"> Dodaj Nowe słowo </a>


                    </div>

                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#"> Kontakt </a>
                </li>
            </ul>

            <a id="test" href="/logout" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-log-out"></span> Wyloguj
            </a>


        </div>
    </nav>
</header>


<footer style="text-align: center">

    <p><span style="text-decoration:none;color:grey;">Developed by KrUcHy</span>
    </p>

</footer>
</body>
</html>